body{
    background-image: url(assets/clock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: start;
    min-height: 100vh;
    align-items: center;
   
}
.clock-container{
    padding-left: 50px;

}
.clock{

    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family:'Lucida Sans';
    text-align:left;
   
}